.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  width:100%;
  opacity:0.9;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tableWidth{
	width:100%;
}

.sidePadding{
	padding-left: 50px;
}

body {
  background-color: #303030;
}

.usersTopLeft {
    padding-bottom: 6px;
    margin-left: -60px;
}

.buttons-style {
  position: relative;
  display: inline-block;
  padding: 7px;
}

.movie-gallery {
  display: block; 
}

.moveWith{
	position: fixed;
}

.sideBarPosition{
	margin-top: 150px;
}

.moviesPosition{
	margin-left: 300px;
	margin-top: 89px;
	margin-right: -3px;
	float:right;
}

table {
  border-spacing: 30px 0;
}